* {
    box-sizing: border-box;
  }
  
  html{
      height: 100%;
  }
  body {
    margin: 0;
    min-width: 100%;
    

  }
  
  /* Style the header */
  .header {
    background-color: #c7acac;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .topnav{
      background-color: black;
      overflow: hidden;
  }
  .topnav a{
      float: left;
      display: block;
      text-decoration: none;
      padding: 14px 16px;
      color: #f2f2f2
  }
  .topnav a:hover{
      background-color: antiquewhite;
      color: black;
  }

  .column{
      padding: 10px;
      float: left;

  }
.column.side{
    width: 25%;

}
.column.middle{
    width: 50%;
}

.row::after{
    content:"";
    display: block;
    clear:both;

}
.footer{
    background-color: #c7acac;
    padding: 10px;
    width: 100%;
    font-size: small;
    text-align: center;
    margin-top: auto;
   
}
  
