.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center center scroll;
    background-size: cover;
    
  }

  .bg-dark{
      background: transparent !important;
      transition: .5s ease-in-out;
      
  }
 .bg-dark.scrolled {
     background: rgb(26, 25, 25) !important;
     
 }
.text-white{
    color: aliceblue !important;
}
.text-white:hover,:active {
    color: rgba(224, 45, 21, 0.836)  !important;
}
.px{
    padding-left: 300px;
    padding-right: 30px;
}

.navbar-nav.navbar-center { 
    position: absolute; 
    left: 50%; 
    transform: translatex(-50%); 
} 
.nav-item{
    font-weight: bold;
    font-size: small;

}
.pl-custom{
    padding-left: 15rem;
}